*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
html{
	scroll-behavior: smooth;
}
body, html {
    height: 100%;
}

/*---NavigationBar---*/
.navbar-nav li{
	padding: 0 10px;
}
.navbar-nav .nav-link{
	color: white!important;
	font-weight: 600;
}
.dropdown a{
	color: white;
	font-weight: 600;
}
.dropdown a:hover{
	color: white;
}
.dropdown-menu{
	background-color: #343a40!important;
	width: 100%!important;
}
.dropdown-toggle{
	width: 100%!important;
}
.dropdown-menu a:hover{
	background-color: #343a40!important;
}

/*---HeroImage---*/
.hero-image{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("img/IndeZT.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  color: white;
	width: 70%;
}
.hero-content hr{
	max-width: 480px;
  border-top: 1px solid white;
	margin: 0 0 5px auto;
}
.hero-content .hero-text{
	text-align: right;
}
.hero-content .hero-text h2{
	font-size: 72px;
	font-weight: 600;
}
.hero-content .hero-text h3{
	font-size: 27px;
	font-weight: 600;
}
.hero-content img{
	height: 100px;
	width: auto;
	position: absolute;
	top: 50%;
	left: 100px;
	transform: translate(-50%, -50%);
}
.arrow-down{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.arrow-down::after{
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
	margin: auto;
	top: 85%;
	right: 0;
	bottom: 0;
	left: 0;
	border-right: 3px solid white;
	border-bottom: 3px solid white;
	transform: rotate(45deg);
}
@media (min-width: 768px) {
    .hero-image .col-md-border:not(:last-child) {
        border-right: 1px solid white;
    }
    .hero-image .col-md-border + .hero-text .col-md-border {
        border-left: 1px solid white;
        margin-left: -1px;
    }
}
@media (max-width: 768px) {
		.hero-content{
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
			width: 70%;
		}
		.hero-content .hero-text{
			text-align: center;
		}
		.hero-content hr{
			width: 100%;
			margin: 0 auto 5px auto;
		}
		.hero-content img{
			display: none;
		}
}
@media (max-width: 410px) {
	.hero-content .hero-text h2{
		font-size: 48px;
	}
	.hero-content .hero-text h3{
		font-size: 16px;
	}
}

/*---Info---*/
#about{
	padding: 80px 40px;
	color: #555;
}
#about h1{
	font-size: 36px;
	font-weight: bold;
}
#about .h2{
	font-weight: bold;
}
.about-content{
	padding-top: 20px;
	font-weight: 600;
}
#about .video-fluid{
	width: 90%;
	height: auto;
}

/*---Projects---*/
#projects{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("img/solderen.jpg");
	background-size: cover;
	background-position: center;
	color: black!important;
	background-attachment: fixed;
	padding: 80px 0;
}
#projects h1{
	font-size: 36px;
	font-weight: bold;
}
.ontwerp{
	margin-top: 60px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
#projects .colle{
	padding: 30px 30px 10px 30px;
	font-weight: 600;
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 30px;
	color: black;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
#projects .colle:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
#projects h1{
	text-align: center;
	color: #efefef!important;
}
#projects h1::after{
	content: '';
	background: #efefef;
	display: block;
	height: 0.5px;
	width: 170px;
	margin: 10px auto 5px;
}
#projects .pcb-image{
  filter: brightness(80%);
	width: 180px;
	margin-bottom: 20px;
}
#projects p{
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
@media (max-width: 991.5px) {
	#projects .pcb-image{
		width: 200px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
	}
}
@media (max-width: 575.5px) {
	#projects .colle{
		padding: 30px;
		margin: 0 100px 30px 100px;
	}
	#projects .pcb-image{
		width: 200px;
    position: relative;
    top: 0;
    transform: translate(0, 0);
	}
}

/*---Diensten---*/
#diensten{
	color: black!important;
	padding: 80px 0;
}
#diensten h1{
	font-size: 36px;
	text-align: center;
	margin-bottom: 30px;
	font-weight: bold;
}
.diensten-alles{
	margin-top: 60px;
}
.diensten-alles img{
	width: 100px;
	margin-bottom: 20px;
}
.text-ontwerp{
	font-weight: 600;
}
.text-ontwerp .upper{
	margin-top: 30px;
}
.text-ontwerp p{
	text-align: left;
}
@media (max-width: 991.5px) {
	.text-ontwerp .last{
		margin-bottom: 80px;
	}
}

/*---Reviews---*/
#reviews{
	background: #efefef;
	padding: 80px 0 50px 0;
}
#reviews h1{
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}
#reviews h1::after{
	content: '';
	background: black;
	display: block;
	height: 0.5px;
	width: 170px;
	margin: 10px auto 15px;
}
#reviews .note{
	font-style: italic;
	text-align: center;
	margin-bottom: 60px;
}
#reviews .persons{
	height: 100px;
	width: 100px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
	margin-bottom: 20px;
}
#reviews .review-text{
	background-color: white;
	padding: 20px;
	box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}
.name{
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 0px;
}
.rating{
	color: rgb(253, 180, 42);
	margin-top: 0;
	margin-bottom: 15px;
}
.fiverr{
	height: 50px;
	margin-top: 20px;
}
.carousel-control-prev .back,
.carousel-control-next .back{
	width: 50px;
	height: 50px;
	background-color: lightgrey;
	border-radius: 50%;
	margin: auto;
}
.carousel-control-prev span,
.carousel-control-next span{
	width: 20px;
	height: 30px;
	margin-top: 17%;
}
.carousel-control-prev{
	margin-left: 10%;
}
.carousel-control-next{
	margin-right: 10%;
}
@media (max-width: 991.5px) {
	#reviews .review-text{
		max-width: 600px;
	}
}

/*---Contact---*/
#contact{
	padding: 80px 0;
}
#contact h1{
	text-align: center;
	margin-bottom: 50px;
	font-size: 36px;
	font-weight: bold;
}
.contact-form{
	padding: 0 50px;
}
.contact-form{
	font-weight: 600;
}
.contact-form button{
	width: 100%;
	background-color: #494949;
	border: none;
}
.contact-form button:hover{
	background-color: #737373;
}
.contact-info{
	margin-top: auto;
	margin-bottom: auto;
}
.contact-info .link{
	color: #000;
	text-decoration: none;
}
.contact-info .link:hover{
	color: blue;
}
#contact .benjamin{
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
	margin-bottom: 35px;
}
.contact-info i{
	display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
	margin-right: 10px;
}
.follow{
	margin-bottom: 20px;
	font-weight: 600;
}
.message {
	font-style: italic;
	color: #777;
	margin-bottom: 0;
}
.message--error {
	display: none;
	color: #c00;
}
.invalid {
	box-shadow: 0 0 3px 0 rgba(227, 64, 100, 0.8);
}
.valid {
	box-shadow: 0 0 3px 0 rgba(64, 227, 100, 0.8);
}
#summary {
	background-color: rgba(227, 64, 100, 0.2);
	border: 4px ridge;
	border-color: rgba(227, 64, 100, 0.2);
	display: none;
	height: auto;
	margin: 1rem 0 3rem 0;
	padding: 2rem;
	overflow: hidden;
	transition: padding 1s, height 1s;
}
#thankyou {
	display: none;
	position: absolute;
}
#thankyou__message {
	padding: 2rem;
	background-color: rgba(64, 227, 100, 0.2);
	border: 4px ridge;
	border-color: rgba(64, 227, 100, 0.2);
	margin: 1rem auto 3rem auto;
	max-width: 400px;
}
@media (min-width: 991.5px) {
    #contact .col-md-border:not(:last-child) {
        border-right: 1px solid #d7d7d7;
    }
    #contact .col-md-border + #contact .col-md-border {
        border-left: 1px solid #d7d7d7;
        margin-left: -1px;
    }
}
@media (max-width: 991.5px) {
	 #contact hr{
		width: 80%;
	  border-top: 1px solid #d7d7d7;
		margin: 40px auto 40px auto;
	}
}

/*---Footer---*/
#footer{
	background: #333;
	color: #fff;
	padding-top: 18px;
	padding-bottom: 1px;
}

/*---ProjectIndex---*/
#projecta{
	padding: 110px 0 40px;
}
#projecta h1{
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}
#projecta h1::after{
	content: '';
	background: black;
	display: block;
	height: 0.5px;
	width: 130px;
	margin: 10px auto 60px;
}
#projecta .tekst{
	max-width: 500px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: 600;
}
#projecta .afb{
	width: 90%;
}
#projecta .proj{
	margin-bottom: 50px;
}
